body {
  font-family: sans-serif;
  font-size: 14px;
  font-color: #333;
  text-align: center;
  max-width: 700px;
  margin: 0px auto;
}

a {
  text-decoration: none;
  color: #5B7EA1;
}

a:hover {
  color: #114274;
}

#nav {
  padding: 20px;
  height: 30px;
  margin: 0px auto;
  text-align: left;
  margin: 30px auto;
}

#nav div {
  display: inline-block;
}

#menu-items {
  float: right;
  line-height: 30px;
}

.menu-item {
  padding: 0px 8px;
}

.nav-brand {
  color: #164775;
  font-size: 28px;
  letter-spacing: -2px;
}

#content {
  margin: 0px auto;
  max-width: 1024px;
}

#intro div {
  display: inline-block;
}

.intro-img {
 width: 25%;
 margin: 20px;
 min-width: 200px;
}

.intro-text {
  width: 45%;
  line-height: 20px;
  position: relative;
  top: -50px;
  margin: 20px;
}

object {
  width: 100%;
  height: 1000px;
  margin-bottom: 100px;
}

.portfolio-item{
  display: inline-block;
  position: relative;
  height: 170px;
  width: 210px;
  border: 1px solid #ccc;
  margin: 5px;
}

.portfolio-img{
  max-width:100%;
  max-height:100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}

.portfolio-text {
  width: 190px;
  position: absolute;
  z-index: 3;
  visibility: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio-label{
  font-size: 18px;
  font-style: italic;
}

.portfolio-description{
  margin-top: 5px;
  font-size: 13px;
  font-style: italic;
  color: #333;
}

.portfolio-item:hover .portfolio-img{
  opacity: 0.2;
}
.portfolio-item:hover .portfolio-text{
  visibility: visible;
}

#footer {
  padding: 20px;
}